/* HERO TITLE SCSS */

.hero-title {
  font-size: 180px;
  font-weight: bold;
  color: white;
  line-height: 0.9;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}