/* HERO TITLE SCSS */

:root {
  --bg: #dcdde1;     
  --color-icon: #535c68;  
  --twitter-color: #1DA1F2;
  --twitch-color: #9146FF;
  --youtube-color: #FF0000;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.watch-trailer-button {
  background-color: #F1FF7E;
  color: black;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.hero-gaming {
  font-size: 100px;
  font-weight: bold;
  color: white;
  line-height: 0.9;
  margin-left: 1215px;
  position: relative;
  margin-top: 130px;
}