/* NAVBAR SCSS */

.Navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 24px 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: #DFDFF2;
  font-size: 24px;
  font-weight: bold;
}

.navbar__live-stream {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  gap: 12px;
  position: relative;
  left: 0px;
}

.navbar__dropdown-arrow {
  margin-left: 4px;
}

.hovered {
  background-color: #DFDFF2;
  color: black;
}

.navbar__volume-control {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #DFDFF2;
  margin-left: 16px;
}

// Styles spécifiques pour les pages About et Contact
.about-page, .contact-page {
  .nav1 {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .nav-items {
    .navbar__item {
      color: black;

      &.hovered,
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .navbar__volume-control {
    color: black;
  }
}