
$z-index-navbar: 1000;
$z-index-background: -1;

// Colors
$primary-color: hsl(237, 47%, 91%);
$text-color: #ffffff;
$background-color: #000000;
$background-color-contentblock : #452CE9;
$background-stream : #0F0E0F;

// Button colors


// Social media colors
$twitter-color: #1DA1F2;
$twitch-color: #9146FF;
$youtube-color: #FF0000;
$color-icon :#6d737a;

// Font sizes
$font-size-large: 180px;
$font-size-medium: 100px;
$font-size-small: 18px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;